# -*- coding: utf-8 -*-
#
# Author: Lars B. Rollik <L.B.Rollik@protonmail.com>
# License: BSD 3-Clause

[general]
    acquisition_name = "default_acq_name_config"     # base name for recording
    remote_data_path = "/home/pi/data/"              # where to store all recordings on RPi
    rpi_username = "pi"
    remote_python_interpreter = "/home/pi/miniconda3/envs/py36/bin/python"      # path to remote python binary
    remote_python_entrypoint = "rpi_camera_colony.acquisition"                  # module to execute
    max_acquisition_time = 7200                                                 # seconds

[log]
    address = "192.168.100.10"
    port = 55555
    level = "DEBUG"
    log_to_console = True
    log_to_file = True
    log_file = "/tmp/some_log_file"

[control]
    address = "192.168.100.10"
    port = 54545

[controllers]
    [[camera_red_60]]
        description = "back view"

        # General config_data
        address = 192.168.100.60  # only relevant for dispatching controller start

        # TTL config_data
        ttl_channel_external = 3   # metadata info for connected recording devices, e.g. DAC channel number
        ttl_in_pin = 16
        ttl_out_pin = 8
        ttl_out_duration = .001

        # Camera properties
        framerate = 90
        resolution = 640x480

    [[camera_yellow_61]]
        description = "top view"
        address = 192.168.100.61
        ttl_channel_external = 4
        framerate = 90
        resolution = 640x480

    [[camera_blue_62]]
        description = "front view"
        address = 192.168.100.62
        ttl_channel_external = 5
        framerate = 90
        resolution = 640x480
