# -*- coding: utf-8 -*-
#
# Author: Lars B. Rollik <L.B.Rollik@protonmail.com>
# License: BSD 3-Clause

[general]
    acquisition_name = string(default="default_acq_name_config")    # base name for recording
    remote_data_path = string(default="/home/pi/data/")             # where to store all recordings on RPi
    rpi_username = string(default="pi")
    remote_python_interpreter = string(default="/home/pi/miniconda3/envs/py36/bin/python")      # path to python
    remote_python_entrypoint = string(default="rpi_camera_colony.acquisition")      # path to __main__ entrypoint
    max_acquisition_time = integer(0, 7200, default=7200)           # seconds, shut down acquisition after expiration

[log]
    address = string(max=15, default="192.168.100.10")
    port = integer(default=55555)
    level = string(default="DEBUG")
    log_to_console = boolean(default=True)
    log_to_file = boolean(default=True)
    log_file = string(default="/tmp/rpi_camera_colony__logging")

[control]
    address = string(default="192.168.100.10")
    port = integer(default=54545)

[controllers]
    [[__many__]]
        description = string(default="")
        address = string(max=15, default="")
        ttl_channel_external = integer(default=-1)  # metadata info if recording output TTL on specific channel of other acquisition system
        ttl_in_pin = integer(default=16)
        ttl_out_pin = integer(default=8)
        ttl_out_duration = float(default=.001)

        # See for list of ALL parameters https://picamera.readthedocs.io/en/latest/api_camera.html
        framerate = integer(min=1, max=90, default=90)
        resolution = 640x480
        vflip = boolean(default=False)
        hflip = boolean(default=False)

        color_effects = option
        # awb_gains
        # awb_mode = option(default="auto")
        # brightness = integer(min=0, max=100, default=50)
        # color_effects = (128, 128)  # black and white acquisition. Default is None.
        # contrast = integer(min=-100, max=100, default=0)
        # drc_strength
        # exposure_compensation
        # exposure_mode
        # exposure_speed = 0
        # flash_mode = option("off", "auto", "on", "redeye", "fillin", "torch", default="off")
        # framerate_delta  # new in 1.11
        # framerate_range  # new in 1.13
        # image_denoise = boolean(default=True)
        # image_effect = "none"
        # image_effect_params  # https://picamera.readthedocs.io/en/release-1.13/api_camera.html#picamera.PiCamera.image_effect_params
        # iso = integer(min=0, max=1600, default=0)
        # led = boolean(default=False)
        # meter_mode = option("average", "spot", "backlit", "matrix")
        # preview_alpha = integer(min=0, max=255, default=255)  # deprecated
        # rotation = option(0, 90, 180, 270)
        # saturation = integer(min=-100, max=100, default=0)
        # sensor_mode = integer(default=0)
        # sharpness = integer(min=-100, max=100, default=0)
        # shutter_speed  # microseconds
        # still_stats = boolean(default=False)
        # video_denoise = boolean(default=True)
        # video_stabilization = boolean(default=False)
        zoom = (0.0, 0.0, 1.0, 1.0)  # (x, y, w, h)
